---
http_interactions:
- request:
    method: post
    uri: https://discord.com/api/channels/<SCRUBBED_DISCORD_CHANNEL_ID>/messages
    body:
      encoding: UTF-8
      string: '{"content":"Hello, World!"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bot <SCRUBBED_DISCORD_API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Bucket:
      - 62df3a8bf3cb0dd93018dd80d06039f6
      X-Ratelimit-Limit:
      - '5'
      X-Ratelimit-Remaining:
      - '4'
      X-Ratelimit-Reset:
      - '1788287724'
      X-Ratelimit-Reset-After:
      - '1'
      X-Discord-Features:
      - chat
    body:
      encoding: ASCII-8BIT
      string: '{"type":0,"content":"Hello, World!","mentions":[],"mention_roles":[],"attachments":[],"embeds":[],"timestamp":"2026-09-01T18:35:22.670000+00:00","edited_timestamp":null,"flags":0,"components":[],"id":"1544415389344079877","channel_id":"<SCRUBBED_DISCORD_CHANNEL_ID>","author":{"id":"1544101931981742141","username":"Foobot","avatar":null,"discriminator":"9541","public_flags":0,"flags":0,"bot":true,"banner":null,"accent_color":null,"global_name":null,"avatar_decoration_data":null,"collectibles":null,"display_name_styles":null,"banner_color":null,"clan":null,"primary_guild":null},"pinned":false,"mention_everyone":false,"tts":false}

        '
  recorded_at: Tue, 01 Sep 2026 18:35:23 GMT
recorded_with: VCR 6.4.0
